<!DOCTYPE html>
<html>
    <head>
        <title>Layout Adaptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="CSS/estilo.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <header>
            <h1>Layout Adaptável e Responsivo</h1>
            <h2>Utilizando CSS Media Queries</h2>

            <p id="medidas">
                Largura: <span id="largura"></span>
                Altura: <span id="altura"></span>
            </p>

            <p class="horizontal">Modo Paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>
        <section>
            
            <h1>Eleiçoes 2014</h1>
            <h2>Situação</h2>            
            <figure>
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR1A7haDLqFexjIX0DQGKKzuvMm1j7zFEkh_QP4jYd9nx4DexifTjhc668"
                     alt="Dilma do PT" />
                
                <figcaption>
                    <a href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR1A7haDLqFexjIX0DQGKKzuvMm1j7zFEkh_QP4jYd9nx4DexifTjhc668">
                        Folder da Presidenta
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="http://2.bp.blogspot.com/-Kt8eYdit4FY/VA-aaOAFy5I/AAAAAAAABc0/-i1t4P-NZ0Y/s1600/Dilma.jpg"
                     alt="Dilma sorridente" />
                
                <figcaption>
                    <a href="http://2.bp.blogspot.com/-Kt8eYdit4FY/VA-aaOAFy5I/AAAAAAAABc0/-i1t4P-NZ0Y/s1600/Dilma.jpg">
                        Dilma Confiante
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="http://img.r7.com/images/2013/10/13/08_55_25_224_file?dimensions=460x305"
                     alt="Dilma Feliz" />
                
                <figcaption>
                    <a href="http://img.r7.com/images/2013/10/13/08_55_25_224_file?dimensions=460x305">
                        Dilma Feliz
                    </a>
                </figcaption>
            </figure>
            <br>
            <h2 class="final">Oposição</h2>
            <br>
            <figure>
                <img src="http://2.bp.blogspot.com/-hTSQvZZRxLw/VA4AlG52g8I/AAAAAAAAHPk/J1N9wCYJW0w/s1600/aecio-neves-george-gianni-psdb-3.jpg"
                     alt="Aécio Feliz" />
                
                <figcaption>
                    <a href="http://2.bp.blogspot.com/-hTSQvZZRxLw/VA4AlG52g8I/AAAAAAAAHPk/J1N9wCYJW0w/s1600/aecio-neves-george-gianni-psdb-3.jpg">
                        Aécio Feliz
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="http://1.bp.blogspot.com/-cL0Mylua4mo/U_IVhu4m9GI/AAAAAAAANpY/1ytnFMCixo0/s1600/destaque-297992-marina-e-aecio.jpg" alt="" />
                
                <figcaption>
                    <a href="http://1.bp.blogspot.com/-cL0Mylua4mo/U_IVhu4m9GI/AAAAAAAANpY/1ytnFMCixo0/s1600/destaque-297992-marina-e-aecio.jpg">
                        Aécio e Marina
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="http://fitademoebius.files.wordpress.com/2013/01/aecio-bebado.jpg?w=300&h=276" alt="" />
                
                <figcaption>
                    <a href="http://fitademoebius.files.wordpress.com/2013/01/aecio-bebado.jpg?w=300&h=276">
                        Jóia do Aécio
                    </a>
                </figcaption>
            </figure>
            <br class="final" />
        </section>
        
        
    </body>
</html>
