/* 
    Created on : 20/10/2014, 15:59:36
    Author     : Gustavo Lopes
    Exemplo didático da utilizção de Media Queries
*/

@media screen and (orientation: portrait){
    /*Modo retrato - Vertical */
    .horizontal{display: none;}
    .vertical{display: block;}
} 

@media screen and (orientation: landscape){
    /*Modo retrato - Horizontal */
    .horizontal{display: block;}
    .vertical{display: none;}
} 